.header{
    display: flex;
    padding: 60px 2px;
    gap: 12px;
    flex-wrap: wrap;

}

.img img{
    width: 700px;
    height: 450px;
    border-radius: 7px;

}
.info{
    width: 600px;
  
}


@media screen and (max-width:780px){
    .img img{
        width: 480px;
        margin: 10px;
    }
}
@media screen and (max-width:490px){
    .img img{
        width: 329px;

    }
}