
.course{
    display: flex;
    flex-wrap: wrap;
}
.cart{
   width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 20px;
    padding: 15px;
}
.nameList{
    width: 200px;
}
.nameList a{
    padding: 10px;
    width: 170px;
font-size: 18px;

}
.nameList button{
    width: 170px;
border: 1px solid gray;
margin: 13px 0px;
}
.card img{
    width:230px;
    height:200px;
}
/*  */
.detail .card{
    width: 30rem;
}
@media screen and (max-width:600px){
    .detail .card{
        width: 19rem;
    }
}