.from{
    width: 500px;
    margin: 0 auto;
}
.from input{
    padding: 13px;
    width: 400px;
}
.from button{
    width: 400px;
    padding: 12px;
    border: none;
    margin-top: 10px;
    background-color: deeppink;
    color: rgb(255, 255, 255);
    font-weight: 600;
}
.err{
    color:red;
}

@media screen and (max-width:600px){
    .from{
        width: 320px;

    }
    .from input{
        padding: 13px;
        width: 300px;
    }
    .from button{
        width: 300px;
       
    }
}