.formm{
    width: 500px;
    margin: 0 auto;
}
.formm input{
    padding: 13px;
    width: 400px;
}
.formm button{
    width: 400px;
    padding: 12px;
    border: none;
    margin-top: 10px;
    background-color: deeppink;
    color: white;
    font-weight: 600;
}
.err{
    color:red;
}
@media screen and (max-width:600px){
    .formm{
        width: 320px;

    }
    .formm input{
        padding: 13px;
        width: 300px;
    }
    .formm button{
        width: 300px;
       
    }
}